

<div ng-cloak style="align-content: right">
    <style>

.group {
    max-width: 500px;
    margin: auto;
}


</style>
    <ng-cloak style="align-content: center; text-align: center">
  <div class ="group">

    <form ng-submit="hashCtrl.searchHashtag(hashtag)" name="regForm">
     <p> <input type="text" placeholder="Enter Hashtag" required ng-model="hashtag"><p>
      <div>
        <button type="submit">Search by Hashtag</button>
      </div>

      <div style="color: blue; padding: 1em .5em;" ng-bind="debug | json">
      </div>
    </form>

      </div>
  </ng-cloak>


    <!--<div  id="chat-list" style="height:300px;overflow:auto">-->

        <!-- Here come the messages in the chat, each one presented in card -->
        <div ng-repeat="m in hashCtrl.hashtagList">
            <!-- This card prodives space for the message and Like/dislike buttons -->
            <div class="row">
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-content">
                            <!-- Card Title is the person who write the message -->
                            <span class="card-title">{{m.content}}</span>






                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

