  <style>

.row {
    max-width: 500px;
    margin: auto;
}

</style>

<div class="row">

            <div class="card teal darken-1">
                <div class="card-content ">
                    <center>
                        <p>Welcome to Chat App ! </p>
                   <a class="waves-effect  red lighten-1 btn-small" ng-click="homeCtrl.jumpToGroups()">Groups</a>
                    <a class="waves-effect  red lighten-1 btn-small" ng-click="homeCtrl.jumpToContacts()">Contacts</a>
                    </center>

                </div>

            </div>

</div>